<div>
  <div class="todo-list"><span class="span-wide-style">SCHEDULE LIST | PERSONAL CONTENT</span></div>
  <div class="button-wrapper" style="margin-bottom: 4rem;">
    <span class="span-title-style">Update Item</span>
  </div>
  
  <mat-card>
    <form [formGroup]="updateForm" class="edit-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Issue Title" formControlName="title" #title>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Responcible" formControlName="responcible" #responcible>
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Description" formControlName="description" #description>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <mat-select placeholder="Severity" formControlName="severity" #severity>
          <mat-option value="Low">Low</mat-option>
          <mat-option value="Medium">Medium</mat-option>
          <mat-option value="High">High</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <mat-select placeholder="Status" formControlName="status" #status>
          <mat-option value="Open">Open</mat-option>
          <mat-option value="In Progress">In Progress</mat-option>
          <mat-option value="Done">Done</mat-option>
        </mat-select>
      </mat-form-field>

      <br><br>
      <div class="button-wrapper" style="margin-bottom: 4rem;">
        <button class="button-back-style" routerLink="/list">BACK</button>
        <button class="button-confirm-style" type="submit"
          (click)="updateIssue(title.value, responcible.value, description.value, severity.value, status.value)"
          [disabled]="updateForm.pristine || updateForm.invalid">SAVE</button>
        
      </div>

    </form>
  </mat-card>
</div>
